<hibernate-configuration>

    <session-factory>

        <property name="hibernate.connection.url">jdbc:h2:mem:test</property>
        <property name="hibernate.connection.driver_class">org.h2.Driver</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password"/>

        <!--  NONE CREATE CREATE-DROP UPDATE VALIDATE
        Update лучше не использовать
        Validate проверяет что схема в бд соответствует схеме в приложении
        -->
        <property name="hibernate.hbm2ddl.auto">create-drop</property> <!-- Указывает что делать при запуске программы -->
        <property name="show_sql">true</property> <!-- Показывает логи sql -->

        <!--Перечисление сущностей -->
        <mapping class="S3_4.Person"/>
        <mapping class="S3_4.Department"/>
        <mapping class="S3_4.hw.Student"/>

    </session-factory>

</hibernate-configuration>